<div class="pull-right">
  <%#= link_to("新建用户", new_user_registration_path, :class => "btn btn-primary" ) %>
</div>

  <h4>Total Orders</h4>
  <hr>
<table class="table table-boldered">

<tr>
  <th>Order Number <span class="badge"><%= @orders.count %></span></th>
  <th>User</th>
  <th>Total Price</th>
  <th>Payment Status</th>
  <th>Order Status</th>
  <th>Shipping Address</th>
  <th>Order Time</th>
  <!-- <td>操作</td> -->
</tr>
  <% @orders.each do |order| %>
      <!-- 修饰是否发布 -->
      <% if order.aasm_state == 'order_cancelled' || order.aasm_state == 'good_returned' %>
      <tr class="danger">
      <% else %>
      <tr  class="success">
      <% end %>
    <td><%= order.id %></td>

    <td>
      <%= order.user_id %>
    </td>

    <td>
      <%= order.total %>
    </td>

    <td>
      <% if order.is_paid %>
      <i class="fa fa-square" aria-hidden="true"> Paid </i>
      <% else %>
      <i class="fa fa-square-o" aria-hidden="true"> Unpaid </i>
      <% end %>
    </td>
    <td>
      <% case order.aasm_state %>
        <% when 'order_placed' %>
          <i class="fa fa-gavel" aria-hidden="true"> Ordered </i>
          <%= link_to('Cancel',order_to_cancell_admin_order_path(order.token),:method => :put,class: "btn btn-sm btn-default") %>        
        <% when 'paid' %>
          <i class="fa fa-money" aria-hidden="true"> Paid </i>
          <%= link_to('Cancel',order_to_cancell_admin_order_path(order.token),:method => :put,class: "btn btn-sm btn-default") %>
          <%= link_to('Deliver',order_to_shipping_admin_order_path(order.token),:method => :put,class: "btn btn-sm btn-default") %>
        <% when 'shipping' %>
          <i class="fa fa-trunk" aria-hidden="true"> Delivering </i>
        <% when 'shipped' %>
          <i class="fa fa-square" aria-hidden="true"> Shipped </i>
        <% when 'order_cancelled' %>
          <i class="fa fa-close" aria-hidden="true"> Canceled </i>
        <% when 'good_returned' %>
          <i class="fa fa-reply" aria-hidden="true"> Returned </i>
        <% else %>
          <i class="fa fa-question" aria-hidden="true"> Invalid </i>
      <% end %>
    </td>
    <td>
      <%= order.shipping_address %>
    </td>
    <td>
      <%= order.created_at %>
    </td>


  </tr>
  <% end %>
</table>




