<div class="row">
  <div class="col-md-12">

    <h2> Order Details </h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%">Product Details</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>

        <% @product_lists.each do |product_list| %>
          <tr>
            <td>
              <%= product_list.product_name %>
            </td>
            <td>
              <%= product_list.product_price %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>



    <div class="total clearfix">
      <span class="pull-left">
        <h4>
          Total:
        </h4>
        <h1>$ <%= @order.total %> USD
        </h1>   
      </span>
    </div>

    <% if @order.coupon_code.blank? %>

    <div class="total clearfix">
      <span class="pull-left">
      <%= simple_form_for @order ,url: coupon_order_path(@order.token) do |f| %>
      <%= f.input :coupon_code, label: 'Coupon Code',input_html: { class: "form-control"} %>

      <%= f.submit "Submit", class: "btn btn-primary btn-xs", data: { disable_with: "Submit..."} %>

      <% end %>
      </span>

    </div>
    <% else %>
  <!-- 判断折扣力度 -->
      <% case @order.coupon_code %>
      <% when 'FBD9' %>
        <kbd>-10%</kbd>
      <% when 'FBD8' %>
        <kbd>-20%</kbd>
      <% when 'FBD7' %>
        <kbd>-30%</kbd>
      <% when 'FBD6' %>
        <kbd>-40%</kbd>
      <% else %>
        <kbd>-?%</kbd>
      <% end %>



    <% end %>

     <hr>

     <h2> Shipping Information </h2>

     <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td>
            Buyer
          </td>
        </tr>
        <tr>
          <td>
            <%= @order.billing_name %> - <%= @order.billing_address %>
          </td>
        </tr>
        <tr>
          <td>
            Receiver
          </td>
        </tr>
        <tr>
          <td>
            <%= @order.shipping_name %> - <%= @order.shipping_address %>
          </td>
        </tr>
      </tbody>
    </table>
    <h5>Order Status</h5>
    <h5>
      <% case @order.aasm_state %>
        <% when 'order_placed' %>
          <i class="fa fa-gavel" aria-hidden="true"> Ordered </i>
        <% when 'paid' %>
          <i class="fa fa-money" aria-hidden="true"> Paided </i>
        <% when 'shipping' %>
          <i class="fa fa-trunk" aria-hidden="true"> Delivering </i>
        <% when 'shipped' %>
          <i class="fa fa-square" aria-hidden="true"> Shipped </i>
        <% when 'order_cancelled' %>
          <i class="fa fa-close" aria-hidden="true"> Canceld </i>
        <% when 'good_returned' %>
          <i class="fa fa-reply" aria-hidden="true"> Returned </i>
        <% else %>
          <i class="fa fa-question" aria-hidden="true"> Invalid </i>
      <% end %>
    </h5>

    <!-- 管理员可以取消订单 -->
    <% if current_user.admin? &&  (@order.aasm_state == 'order_placed' || @order.aasm_state == 'paid' )%>
    <div class="group pull-right">
    <%= link_to('Cancel Order',order_to_cancell_admin_order_path(@order.token),:method => :put,class: "btn btn-lg btn-danger") %>
    </div>
    <% end %>

    <br>
    <br>
    <br>

    
    <!-- 支付方式 -->
    <div class="group pull-right">
    <% if @order.aasm_state == 'order_placed'%>
      <%= link_to("Paypal", pay_with_alipay_order_path(@order.token),:method => :post, class: "btn btn-primary") %> 
      <%= link_to("Wechat",pay_with_wechat_order_path(@order.token),:method => :post, class: "btn btn-success") %>      
    <% end %>
    </div>



    

  </div>
</div>