<div class="pull-right">
  <%#= link_to("新建用户", new_user_registration_path, :class => "btn btn-primary" ) %>
</div>

  <h4>User list</h4>
  <hr>
<table class="table table-boldered">

<tr>
  <th>User ID <span class="badge"><%= @users.count %></span></th>
  <th>User name</th>
  <th>Identity</th>
  <th>Create time</th>
  <th>Operation</th>
</tr>
  <% @users.each do |user| %>
      <!-- 修饰是否发布 -->
      <% if user.is_admin %>
      <tr class="success">
      <% else %>
      <tr  class="danger">
      <% end %>
    <td><%= user.id %></td>

    <td>
      <%= user.email %>
    </td>


    <td>
      <% if user.is_admin %>
      <i class="fa fa-user" aria-hidden="true"> Seller</i>
      <% else %>
      <i class="fa fa-user-o" aria-hidden="true"> Buyer</i>
      <% end %>
    </td>
    <td>
      <%= user.created_at %>
    </td>

    <td>
      <%= link_to("Delete", admin_user_path(user), :method => :delete, :data => { :confirm => "Are you sure to delete?" }) %> | 
      <% if user.is_admin %>
      <%= link_to("Change to Buyer", cguser_admin_user_path(user) , :method => :put) %>
      <% else %>

      <%= link_to("Change to Seller", cgadmin_admin_user_path(user) , :method => :put) %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>